<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{title}}</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script src="/javascripts/script.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>
	<body>
		<header>
			<nav id="page-nav">
				<ul id="list">
					<li><a href="/user/logout">Log Out</a></li>
					<li><a href="/user/buy">BUY</a></li>
					<li><a href="/">Account/Profile</a></li>
					<li><a href="/">Add to Balance</a></li>
					<li><a href="/user/inventory">Inventory</a></li>
				</ul>
			</nav>
			<p>Your balance: ${{balance}}</p>
			<hr>
		</header>
		{{{body}}}
	</body>
</html>