html{
	font-family:Helvetica;
}
#register-form{
	display:none;
}
#prefix2{
	display:none;
}
#prefix3{
	display:none;
}
#suffix2{
	display:none;
}
#suffix3{
	display:none;
}
#shop{
	font-size:20px;
	width:100%;
}
.shop-item{
	display:inline-block;
	padding:10px;
}
.shop-item img{
	cursor:pointer;
}