html{
	font-family:Helvetica;
}
a{
	text-decoration:none;
	color:black;
}
#register-form{
	display:none;
}
#prefix2{
	display:none;
}
#prefix3{
	display:none;
}
#suffix2{
	display:none;
}
#suffix3{
	display:none;
}
#shop{
	font-size:20px;
	width:100%;
}
.shop-item{
	display:inline-block;
	padding:10px;
}
.shop-item img{
	cursor:pointer;
}
#main-content{
	width:100%;
}
#sell-window{
	text-align:center;
	float:left;
	display:inline;
	width:50%;
}
#shop{
	float:left;
	display:inline;
	width:50%;
}